.back-vid{
  position: absolute;
  right: 0;
  left:0;
  top:-70px;
  
  min-width: 100%;
  bottom: 20px;
  z-index:-1;
 }



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.wrapper2{
  margin-top:230px;
  margin-left:210px;
}
.wrapper2 .outer{
  display: flex;
  
}
.wrapper2 .card{
  background: rgb(14, 82, 146);
  width: 500px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  padding: 20px;
  opacity: 0;
  color: #fff;
  pointer-events: none;
  position: absolute;
  justify-content: space-between;
  border-radius: 100px 20px 20px 100px;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  animation: animate 15s linear infinite;
  animation-delay: calc(3s * var(--delay));
}
.outer:hover .card{
  animation-play-state: paused;
}
.wrapper2 .card:last-child{
  animation-delay: calc(-3s * var(--delay));
}
@keyframes animate {
  0%{
    opacity: 0;
    transform: translateY(100%) scale(0.5);
  }
  5%, 20%{
    opacity: 0.4;
    transform: translateY(100%) scale(0.7);
  }
  25%, 40%{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0%) scale(1);
  }
  45%, 60%{
    opacity: 0.4;
    transform: translateY(-100%) scale(0.7);
  }
  65%, 100%{
    opacity: 0;
    transform: translateY(-100%) scale(0.5);
  }
}
.card .content{
  display: flex;
  align-items: center;
}
.wrapper2 .card .img{
  height: 90px;
  width: 90px;
  position: absolute;
  left: -5px;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}
.card .img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.card .details{
  margin-left: 80px;
}
.details span{
  font-weight: 600;
  font-size: 18px;
}

.card a{
  text-decoration: none;
  padding: 7px 18px;
  border-radius: 25px;
  color: #fff;
  background: linear-gradient(to bottom, #bea2e7 0%, #86b7e7 100%);
  transition: all 0.3s ease;
}
.card a:hover{
  transform: scale(0.94);
}



.wrap3{
  position: absolute;
  top:85%;
  left:20%;
  transform: translate(-50%, -50%);
  width:200px;
  max-width: 650px;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card3{
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 180px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  position: relative;
}
.card3 img{
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card3:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.card3:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.card3:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card3 h1{
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.card3 p{
  line-height: 24px;
  height: 50%;
}
.card3 button{
  width: 100px;
  height: 25px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color:#fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
  border-radius: 50px;
}
.card3 button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}


.wrap4{
  position: absolute;
  top:30%;
  left:95%;
  transform: translate(-50%, -50%);
  width:100%;
  max-width: 650px;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card3{
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 180px;
  border-radius: 50px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0px 4px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  position: relative;
}
.card3 img{
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.descriptions{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(255,255,255,.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card3:hover .descriptions{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.card3:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.card3:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card3 h1{
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
.card3 p{
  line-height: 24px;
  height: 50%;
}
.card3 button{
  width: 100px;
  height: 25px;
  cursor: pointer;
  border-style: none;
  background-color: #ff3838;
  color:#fff;
  font-size: 15px;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,.4);
  transition: all .5s ease-in-out;
  border-radius: 50px;
}
.card3 button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}

div.an{
  background: linear-gradient(to bottom, #4b20e7 0%, #86b7e7 100%);
  backdrop-filter: blur(20px);
  width: 700px;
  height: 400px;
  margin-left: 400px;
  margin-top: 70px;
  border-radius: 50px;
  padding: 10px;
}






